.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > * {
        margin-top: 2em;
    }

    img {
        max-height: 75vh;
        max-width: 100%;
        object-fit: contain;
    }
}