html {
    background-color: $background-color;
    color: $text-color;
    min-height: 100%;
    font-family: $default-font;
    font-size: $base-text-size;
}

body {
    line-height: $line-height;
}

.pagewrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content {
    flex-grow: 1;
    max-width: $content-max-width;
    margin-left: auto;
    margin-right: auto;

    @include small-screen-override {
        max-width: 100vh;
        margin-left: 0;
        margin-right: 0;
        padding-left: 1em;
        padding-right: 1em;
    }
}

a {
    color: $text-color;

    &:link, &:visited {
        text-decoration: underline;
    }
}

@for $i from 1 through 6 {
    h#{$i} {
        font-size: $base-text-size * pow($heading-scale-ratio, 6 - $i);
    }
}

code {
    font-family: $monospace-font;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

ul,ol {
    padding-left: 1em;

    li {
        padding-left: 0.5em;
    }
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

sup {
    vertical-align: super;
    font-size: 70%;
}

figure, img, video {
    max-width: 100%;
}

figcaption {
    text-align: center;
    font-size: 80%;
    margin-bottom: 1em;
}