.header {
    background-color: $header-color;
    height: 4 * $base-text-size;

    margin-bottom: 2rem;

    display: flex;
    align-items: center;
    @include small-screen-override {
        flex-wrap: wrap;
        padding-bottom: 4 * $base-text-size;
    }

    @include drop-shadow($header-color);

    a {
        color: $text-color;
        text-decoration: none;
    }

    a:focus, a:hover {
        border-bottom: 1px solid $text-color;
    }

    .logotype {
        height: 100%;
        line-height: 100%;
        margin-left: 1rem;
        margin-right: 3rem;
        margin-top: auto;
        margin-bottom: auto;

        display: inline-flex;
        @include small-screen-override {
            min-width: 100%;
            margin-left: 0;
            margin-right: 0;
            a {
                margin-left: auto;
                margin-right: auto;
            }
        }

        align-items: center;
        font-weight: bold;
        font-size: 200%;
        letter-spacing: 0.25rem;

        a {
            transform: scaleX(-1);
            unicode-bidi: bidi-override;
            direction: rtl;
        }
    }

    nav {
        height: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: auto;
        margin-bottom: auto;

        display: inline-block;
        @include small-screen-override {
            width: 100%;
        }

        ul {
            list-style-type: none;
            display: flex;
            align-items: center;
            height: 100%;
            @include small-screen-override {
                justify-content: space-around;
                padding-left: 0;
            }

            li {
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
    }
}