$background-color: #222228;
$header-color: #111114;
$text-color: #eee;

$default-font: 'Franklin Gothic Medium', 'Arial', sans-serif;
$monospace-font: monospace;

$line-height: 1.8;
$base-text-size: 16px;
$heading-scale-ratio: 1.2;

$content-max-width: 960px;

$small-screen-breakpoint: 800px;